<a href="https://colab.research.google.com/github/nbacomdados/nbacomdados/blob/main/notebooks/analise1_BucksXNets_jogo7_Leste_SemiFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Imports

In [51]:
import pandas as pd
import numpy as np

#URLS

In [2]:
url_placar = 'https://raw.githubusercontent.com/nbacomdados/nbacomdados/main/dados/placar_BucksXNets_jogo7_Leste_SemiFinal.csv'
url_2times = 'https://raw.githubusercontent.com/nbacomdados/nbacomdados/main/dados/BucksXNets_jogo7_Leste_SemiFinal.csv'
url_nets = 'https://raw.githubusercontent.com/nbacomdados/nbacomdados/main/dados/nets_BucksXNets_jogo7_Leste_SemiFinal.csv'
url_bucks = 'https://raw.githubusercontent.com/nbacomdados/nbacomdados/main/dados/bucks_BucksXNets_jogo7_Leste_SemiFinal.csv'

#Placar

In [34]:
df_placar = pd.read_csv(url_placar).drop(['Unnamed: 0'], axis='columns')

In [35]:
nomes_colunas = df_placar.columns.to_list()
nomes_colunas.pop(0)
nomes_colunas.insert(0, 'Times')
df_placar.columns = nomes_colunas

In [36]:
df_placar

  Times   1   2   3   4  OT    T
0   MIL  25  22  35  27   6  115
1   BKN  28  25  28  28   2  111

#Jogo

In [31]:
df_2times = pd.read_csv(url_2times).drop(['Unnamed: 0'], axis='columns')

In [32]:
df_2times.columns = ['Estatistica', 'MIL', 'BKN']

In [33]:
df_2times = df_2times.set_index('Estatistica').T
df_2times

Estatistica     FG Field Goal %  ... Flagrant Fouls Largest Lead
MIL          43-98         43.9  ...              0            6
BKN          39-84         46.4  ...              0           10

[2 rows x 20 columns]

#NETS

In [29]:
df_nets = pd.read_csv(url_nets).drop(['Unnamed: 0'], axis='columns')
df_nets

                                  Starters  ...                   PTS
0                                    Bench  ...                   PTS
1                     K. DurantK. DurantPF  ...                    48
2                   B. GriffinB. GriffinPF  ...                    17
3                     J. HarrisJ. HarrisSF  ...                    10
4                       B. BrownB. BrownSF  ...                    14
5                     J. HardenJ. HardenSG  ...                    22
6                       J. GreenJ. GreenPF  ...                     0
7                   N. ClaxtonN. ClaxtonPF  ...                     0
8                     L. ShametL. ShametSG  ...                     0
9                   A. JohnsonA. JohnsonPF  ...  DNP-COACH'S DECISION
10                      R. PerryR. PerryPF  ...  DNP-COACH'S DECISION
11                     D. JordanD. JordanC  ...  DNP-COACH'S DECISION
12                      M. JamesM. JamesPG  ...  DNP-COACH'S DECISION
13                  C. ChiozzaC. ChiozzaPG  ...  DNP-COACH'S DECISION
14                  T. JohnsonT. JohnsonSG  ...  DNP-COACH'S DECISION
15  T. Luwawu-CabarrotT. Luwawu-CabarrotSG  ...  DNP-COACH'S DECISION
16                                    TEAM  ...                   111
17                                     NaN  ...                   NaN

[18 rows x 15 columns]

#BUCKS

In [30]:
df_bucks = pd.read_csv(url_bucks).drop(['Unnamed: 0'], axis='columns')
df_bucks

                              Starters  ...                   PTS
0                                Bench  ...                   PTS
1             P.J. TuckerP.J. TuckerPF  ...                    11
2   G. AntetokounmpoG. AntetokounmpoPF  ...                    40
3           K. MiddletonK. MiddletonSF  ...                    23
4                    B. LopezB. LopezC  ...                    19
5               J. HolidayJ. HolidayPG  ...                    13
6   T. AntetokounmpoT. AntetokounmpoSF  ...                     0
7       P. ConnaughtonP. ConnaughtonSG  ...                     9
8                 B. ForbesB. ForbesSG  ...                     0
9               M. DiakiteM. DiakitePF  ...  DNP-COACH'S DECISION
10              J. JacksonJ. JacksonSF  ...  DNP-COACH'S DECISION
11                 B. PortisB. PortisC  ...  DNP-COACH'S DECISION
12                J. TeagueJ. TeaguePG  ...  DNP-COACH'S DECISION
13              A. ToupaneA. ToupaneSG  ...  DNP-COACH'S DECISION
14              S. MerrillS. MerrillSG  ...  DNP-COACH'S DECISION
15                 E. BryantE. BryantG  ...  DNP-COACH'S DECISION
16                                TEAM  ...                   115
17                                 NaN  ...                   NaN

[18 rows x 15 columns]

# E AGORA ?

In [93]:
df_2times.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, MIL to BKN
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   FG                    2 non-null      object
 1   Field Goal %          2 non-null      object
 2   3PT                   2 non-null      object
 3   Three Point %         2 non-null      object
 4   FT                    2 non-null      object
 5   Free Throw %          2 non-null      object
 6   Rebounds              2 non-null      object
 7   Offensive Rebounds    2 non-null      object
 8   Defensive Rebounds    2 non-null      object
 9   Assists               2 non-null      object
 10  Steals                2 non-null      object
 11  Blocks                2 non-null      object
 12  Total Turnovers       2 non-null      object
 13  Points Off Turnovers  2 non-null      object
 14  Fast Break Points     2 non-null      object
 15  Points in Paint       2 non-null      object
 16  Fouls                 2 non-null      object
 17  Technical Fouls       2 non-null      object
 18  Flagrant Fouls        2 non-null      object
 19  Largest Lead          2 non-null      object
dtypes: object(20)
memory usage: 416.0+ bytes

In [52]:
def highlight_max(s, props=''):
    return np.where(s == np.nanmax(s.values), props, '')

In [55]:
df_2times.T.style.apply(highlight_max, props='color:white;background-color:darkblue', axis=1)

In [88]:
def pontos_jogo(time: str):
  pontos_dois = (int(df_2times.loc[time]['FG'][:2]) - int(df_2times.loc[time]['3PT'][:2])) * 2
  pontos_tres = int(df_2times.loc[time]['3PT'][:2]) * 3
  pontos_um = int(df_2times.loc[time]['FT'][:2])
  pontos_total = pontos_dois + pontos_tres + pontos_um

  porcentagem_tres = pontos_tres/pontos_total * 100
  porcentagem_dois = pontos_dois/pontos_total * 100
  porcentagem_um = pontos_um/pontos_total * 100

  print(f'Total pontos: {pontos_total}')
  print(f'Pontos de 3 pontos {porcentagem_tres:.2f}%')
  print(f'Pontos de 2 pontos {porcentagem_dois:.2f}%')
  print(f'Pontos de 1 ponto {porcentagem_um:.2f}%')

In [90]:
pontos_jogo('MIL')

Total pontos: 115
Pontos de 3 pontos 39.13%
Pontos de 2 pontos 48.70%
Pontos de 1 ponto 12.17%

In [91]:
pontos_jogo('BKN')

Total pontos: 111
Pontos de 3 pontos 32.43%
Pontos de 2 pontos 48.65%
Pontos de 1 ponto 18.92%

In [57]:
df_placar

  Times   1   2   3   4  OT    T
0   MIL  25  22  35  27   6  115
1   BKN  28  25  28  28   2  111